#/*
#!/.gitignore
#!/Tests
#/Tests/*
Rplots.pdf

/Tests/tuning_XieBeni_div/
/Tests/spaces/
/Tests/operators/

/Tests/runs/XieBeni/dmnsga2/
/Tests/runs/XieBeni/nsga2/
/Tests/runs/XieBeni/dnsga2/
/Tests/runs/XieBeni/figures/comparison

/Tests/experiments/XieBeni_3/tmix/
/Tests/experiments/XieBeni_3/moc.gapbk/
/Tests/experiments/XieBeni_3/mfuzz/
/Tests/experiments/XieBeni_3/dmnsga2/
/Tests/experiments/XieBeni_3/dnsga2/
/Tests/experiments/XieBeni_3/nsga2/

/Tests/tuning_BallHall/nsga2/arabidopsis/
/Tests/tuning_BallHall/nsga2/cell_cycle/
/Tests/tuning_BallHall/nsga2/serum/
/Tests/tuning_BallHall/nsga2/sporulation/
/Tests/tuning_BallHall/dnsga2/arabidopsis
/Tests/tuning_BallHall/dnsga2/cell_cycle
/Tests/tuning_BallHall/dnsga2/serum
/Tests/tuning_BallHall/dnsga2/sporulation
/Tests/tuning_BallHall/dmnsga2/arabidopsis/
/Tests/tuning_BallHall/dmnsga2/cell_cycle/
/Tests/tuning_BallHall/dmnsga2/serum/
/Tests/tuning_BallHall/dmnsga2/sporulation/

/Tests/tuning_XieBeni/nsga2/arabidopsis/
/Tests/tuning_XieBeni/nsga2/cell_cycle/
/Tests/tuning_XieBeni/nsga2/serum/
/Tests/tuning_XieBeni/nsga2/sporulation/
/Tests/tuning_XieBeni/dnsga2/arabidopsis
/Tests/tuning_XieBeni/dnsga2/cell_cycle
/Tests/tuning_XieBeni/dnsga2/serum
/Tests/tuning_XieBeni/dnsga2/sporulation
/Tests/tuning_XieBeni/dmnsga2/arabidopsis/
/Tests/tuning_XieBeni/dmnsga2/cell_cycle/
/Tests/tuning_XieBeni/dmnsga2/serum/
/Tests/tuning_XieBeni/dmnsga2/sporulation/

irace.Rdata
nohup.out

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

